@using Microsoft.AspNetCore.Components
@using System.Runtime.InteropServices
<div class="alert bg-primary d-flex justify-content-between align-items-center p-1 border border-dark text-white">
    <h5 class="text-center font-weight-bold w-100">&nbsp;&copy;Arnaud Morin - @RuntimeInformation.FrameworkDescription</h5>    
</div>

@code {
    
}