@using System.Runtime.InteropServices
@using System.Threading
<div class="footer d-flex bg-gradient-dark justify-content-between align-items-center border border-secondary">
    <span class="badge badge-pill badge-info">
        &copy;Arnaud Morin,&nbsp;Syncfusion,&nbsp;
        @RuntimeInformation.FrameworkDescription
    </span>
    <span class="badge badge-pill badge-info">@($"{DateTime.Now:dddd dd MMMM yyyy à HH:mm:ss}")</span>
</div>

@code {  
    protected override void OnInitialized() {
        
       (new Timer((state) => InvokeAsync(StateHasChanged))).Change(0, 1000);
     }

}