@using System.Timers
<div class="footer d-flex bg-gradient justify-content-between align-items-center border border-secondary">
	<span class="badge badge-pill badge-info text-white">
		@Util.Authors (@Util.CebBlazorVersion),&nbsp;Syncfusion&nbsp;@Util.SyncfusionVersion,&nbsp;@Util.DotNetVersion
	</span>
	<span class="badge badge-pill badge-info text-white">@($"{datetime:dddd dd MMMM yyyy à HH:mm:ss}")</span>
</div>

@code {
	private DateTime datetime;

	protected override Task OnInitializedAsync() {
		var timer = new Timer(1000);
		timer.Elapsed += async (_, e) => {
			datetime = e.SignalTime;
			await InvokeAsync(StateHasChanged);
		};
		timer.AutoReset = true;
		timer.Enabled = true;
		return base.OnInitializedAsync();
	}

}