// $primary: darkslategray;
$primary: #303030;
$bg-body: #404040;

$font-size: 0.8rem;
$enable-gradients: true;
$enable-shadows: true;
$enable-responsive-font-sizes: true;
$grid-header-border-color: $bg-body;

@import "../node_modules/@syncfusion/ej2/bootstrap4.scss";
@import "../node_modules/bootstrap/scss/bootstrap";


html,
body {
    background-color: $bg-body;
    font-size: $font-size;
}

#solutions {
    
    &.e-grid, .e-table {
        border-spacing: 0px;
        border-collapse: separate;
        border-color: $secondary;
        border-radius: 0;
        border-width: 1pt;
        
    }

    .e-content {
        background-color: $bg-body;
        text-align: center;
        color: white;
        font-size: $font-size;
    }


    .e-emptyrow {
        color: $bg-body;
        background-color: $bg-body;
        margin: 0;
        padding: 0;
    }

    .e-headertext {
        text-align: center;
        font-size: $font-size;
    }

    .e-headercell {
        background: radial-gradient($primary, $gray-700);
        color: white;
        font-weight: bold;
        font-size: $font-size;

        > div {
            text-align: center;
        }
    }

    .e-lastrowcell {
        border-bottom-color: $primary;
        border-style: none;
    }

    .e-gridheader {
        border-color: $primary;
    }

    .e-row {
        td.e-rowcell {
            font-size: $font-size;
        }

        td.e-active {
            background-color: $gray-800;
            color: $white;
        }

        td.e-rowcell.e-focus {
            background-color: #222222;
            color: $yellow;
            font-weight: 700;
        }

        .e-rowcell:not(.e-active) {
            text-align: center;
            cursor: pointer;
            font-weight: bold;
        }

        &:not(.e-altrow) > :not(.e-active) {
            background-color: $bg-body;
            color: yellow;
        }

        &.e-altrow > :not(.e-active) {
            background-color: $primary;
            color: white;
        }
    }
}

.card-body,
.card-text {
    background-color: $bg-body; //  lightslategray;
    color: black; // white;
}





.content {
    padding-top: 1.1rem;
}

.separator {
    margin: 0%;
    padding: 0%;
    height: 0.1rem;
}


.e-input-group {
    &:not(.e-success):not(.e-warning):not(.e-error),
    &.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error) {
        border-color: $secondary;
    }

    &.e-control-wrapper input.e-input {
        background-color: transparent;
        text-align: center;
        color: white;
        font-size: $font-size;
        &.e-disabled {
            background-color: $gray-700;
            color: white;
        }
       
    }

    
    &.e-control-wrapper {
        background-color: transparent; //  $primary; // $bg-body;
        &.e-disabled {
            background-color: $gray-700;
            color: white;
        }
    }

    & .e-input-group-icon, &.e-control-wrapper .e-input-group-icon {
        background-color: $secondary;
        color: white;
        border: thin;
        &.e-disabled {
            background-color: $gray-700;
            color:white;
        }
    }
   
}



.e-dropdownbase .e-list-item {
    background-color: $bg-body;
    color: white;

    &:active {
        background-color: $bg-body;
        color: yellow;
    }

    &.e-item-focus {
        background-color: $primary;
        color: white;
    }

    &:hover {
        background-color: $primary;
        color: yellow;
    }

    &:focus {
        background-color: $black;
        color: yellow;
    }

    &.e-item-focus:hover {
        background-color: green;
        color: white;
    }
}

.a-toast {
    @extend .bg-gradient-primary;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    z-index: 10;
    color: white;
    border-style: solid;
    border-spacing: 0;
    border-width: thin;
    border-color: white;
}

.animation {
    animation-duration: 10s;
    //animation-name: slidein;
    animation-name: FadeZoomIn;
    animation-direction:  alternate;
    animation-iteration-count: infinite;
}

.gradient {
    background: radial-gradient($primary, $bg-body);
    background-image: radial-gradient( #505050, $primary); // (rgb(48, 48, 48), rgb(73, 80, 87));
}
