$primary: #404040;
$bg-body: #303030;

$font-size: 1rem;

$enable-shadows: true;
$enable-responsive-font-sizes: true;
$grid-header-border-color: $bg-body;
$font-family-sans-serif: 'Colibri', 'Segoe UI', sans-serif;
$font-family: $font-family-sans-serif;

@import "ej2/fabric-dark.scss";
$enable-gradients: true;
@import "bootstrap/scss/bootstrap";





html,
body {
    background-color: $bg-body;
    font-size: $font-size;
}

#solutions, #lsolutions {
    .e-gridheader {
        visibility: collapse;
        border: none;
    }

    &.e-grid, .e-table {
        border-spacing: 0px;
        border-collapse: separate;
        border-color: $secondary;
        border-radius: 0;
        border-width: 1pt;
    }

    .e-content {
        background-color: $bg-body;
        text-align: center;
        color: white;
        font-size: $font-size;
    }


    .e-emptyrow {
        color: $bg-body;
        background-color: $bg-body;
        margin: 0;
        padding: 0;
    }

    .e-lastrowcell {
        border-bottom-color: $primary;
        border-style: none;
    }

    .e-row {
        td.e-rowcell {
            font-size: $font-size;
        }

        td.e-active {
            background-color: $gray-800;
            color: $white;
        }

        td.e-rowcell.e-focus {
            background-color: #222222;
            color: $yellow;
            font-weight: 700;
        }

        .e-rowcell:not(.e-active) {
            text-align: center;
            cursor: pointer;
            font-weight: bold;
        }

        &:not(.e-altrow) > :not(.e-active) {
            background-color: $bg-body;
            color: yellow;
        }

        &.e-altrow > :not(.e-active) {
            background-color: $primary;
            color: white;
        }

        & td > .e-blazor-template {
            color: yellow;
            border: none;
            background-color: transparent;
        }
        & td .e-rowcell {
            text-align:center;
        }
    }
}

#lsolutions {
    td:nth-child(even) {
        @extend .e-altrow
    }
}

.card-body,
.card-text {
    background-color: $bg-body; //  lightslategray;
    color: black; // white;
}

.separator {
    margin: 0%;
    padding: 0%;
    height: 0.1rem;
}


.e-input-group {
    &:not(.e-success):not(.e-warning):not(.e-error),
    &.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error) {
        border-color: $secondary;

        & .e-disabled {
            background-color: $gray-700;
        }
    }

    &.e-control-wrapper input.e-input {
        background-color: transparent;
        text-align: center;
        color: white;
        font-size: $font-size;

        & .e-disabled {
            background-color: $gray-700;
            color: white;
        }
    }


    &.e-control-wrapper {
        background-color: transparent; //  $primary; // $bg-body;
        &.e-disabled {
            background-color: $gray-700;
            color: white;
        }
    }

    & .e-input-group-icon, &.e-control-wrapper .e-input-group-icon {
        background-color: $secondary;
        color: white;
        border: thin;

        &.e-disabled {
            background-color: $gray-700;
            color: white;
        }
    }
}


.e-dropdownbase {
    padding: 0;
    margin: 0;
    background-color: $bg-body;
    border-color: $secondary;

    .e-list-item {
        background-color: $bg-body;
        color: white;

        &:active {
            color: yellow;
        }

        &.e-item-focus {
            background-color: $primary;
            color: white;
        }

        &.e-item-focus:hover {
            background-color: darkslategrey;
            color: red;
        }

        &:hover {
            background-color: $primary;
            color: yellow;
        }

        &:focus {
            background-color: $black;
            color: greenyellow;
        }
    }
}



@keyframes resultat {
    from {
        transform: translateX(50%);
        width: 50%;
    }

    to {
        transform: translateX(0);
        width: 100%;
    }
}

.animation {
    animation-duration: 10s;
    animation-name: resultat;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.gradient {
    background: radial-gradient($primary, $bg-body);
    background-image: radial-gradient( #505050, $primary); // (rgb(48, 48, 48), rgb(73, 80, 87));
}

.footer {
    @extend .fixed-bottom;
    height: 2rem;
}


.a-toast  {   
    > .e-dlg-content, > .e-dlg-header-content, > .e-footer-content {
        @extend  .bg-gradient;
        background: $primary;
        padding: 0px;
        margin: 0;
        border: none;
    }
}
.e-input {
    background-color: $bg-body;
}

.centrer-element {
    position: absolute; /* postulat de départ */
    top: 50%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}