@using CompteEstBon
@using System.Collections.ObjectModel

<table class="table table-dark table-fixed border border-secondary">
    <tbody>
        @foreach (var rw in Details)
        {
            <tr class="text-center" style="cursor:pointer" @onclick="@(async  () => { await ShowDetail.InvokeAsync(rw); })">
                @if (TypeGrille == CebTypeGrille.Grille)
                {
                    @foreach (var op in rw.Operations)
                    {
                        <td>@op</td>
                    }
                }
                else
                {
                    <td class="text-center w-100">
                        @foreach (var op in rw.Operations)
                        {
                            <div>@op</div>
                        }

                    </td>
                }
            </tr>
        }
    </tbody>

</table>


@code {
    private CebTypeGrille _typegrille;
    [Parameter]
    public CebTypeGrille TypeGrille
    {
        get => _typegrille;
        set
        {
            if (_typegrille != value)
            {
                _typegrille = value;
                InvokeAsync(StateHasChanged);
            }
        }
    }

    [Parameter] public EventCallback<CebBase> ShowDetail { get; set; }
    [Parameter] public IEnumerable<CebBase> Details { get; set; }



    protected override void OnInitialized()
    {

        Details =  new List<CebBase>();
    }
}
