<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<base href="/"/>
	<link href="@Assets["css/site.css"]" rel="stylesheet"/>
	<script type="text/javascript">
		window.saveAsFile = (fileName, bytesBase64) => {
			const extension = fileName.split('.').pop();
			const mimeTypes = {
				docx: "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
				xlsx: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
				json: "application/json",
				xml: "application/xml",
				html: "application/html"
			};
			const mimeType = mimeTypes[extension] || "application/octet-stream";
			const link = document.createElement("a");
			link.href = `data:${mimeType};base64,${bytesBase64}`;
			link.download = fileName || '';
			document.body.appendChild(link);
			link.click();
			document.body.removeChild(link);
		};
	</script>
	<ImportMap/>
	<link rel="icon" type="image/png" href="favicon.png"/>
	<HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<Routes @rendermode="InteractiveServer" />
<script src="./_framework/blazor.web.js"></script>

<script src="./_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" async type="text/javascript"></script>
</body>

</html>