<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CompteEstBon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CompteEstBon.Properties.Settings>
            <setting name="SolutionTimer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SfLicence" serializeAs="String">
                <value>MzI2MTUwQDMxMzgyZTMzMmUzMG9RU0xqbmlrc2hYNE5GQ3VBMHpMekNqWjBGRW52TWtpdnBia0gvcFBpcDQ9</value>
            </setting>
        </CompteEstBon.Properties.Settings>
    </userSettings>
</configuration>
