<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CompteEstBon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CompteEstBon.Properties.Settings>
            <setting name="SolutionTimer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MongoDB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MongoServer" serializeAs="String">
                <value>mongodb://127.0.0.1:27017</value>
            </setting>
            <setting name="SfLicence" serializeAs="String">
                <value>NjcyNzM3QDMyMzAyZTMyMmUzMFV2TGVNenhCUjJwZktkNVVJWjlJaWo4QlRRTVpjN0ZvSSswMjk5RWJ6U0k9;NRAiBiAaIQQuGjN/V0Z+Xk9EaFxEVmJLYVB3WmpQdldgdVRMZVVbQX9PIiBoS35RdEVkWXZfcndRQ2JUVUJw</value>
            </setting>
            <setting name="AutoCalcul" serializeAs="String">
                <value>True</value>
            </setting>
        </CompteEstBon.Properties.Settings>
    </userSettings>
</configuration>
