@inherits LayoutComponentBase
@using BlazorCebTelerik.Pages

<TelerikRootComponent>
    <form class="container-fluid form-group" style="width: 100%">
        @Body
    </form>

</TelerikRootComponent>
<CebFooter></CebFooter>
