@inherits LayoutComponentBase
@using Telerik.Blazor.Components.RootComponent
<TelerikRootComponent>
    <form class="container-fluid form-group" style="width: 100%">
        @Body
    </form>

</TelerikRootComponent>
