@using Microsoft.AspNetCore.Components
@using System.Runtime.InteropServices
@using System.Threading
<div class="footer d-flex bg-gradient-dark justify-content-between align-items-center border border-secondary">
    <span class="badge badge-pill badge-info">
        &copy;Arnaud Morin,&nbsp;Telerik,&nbsp;
        @RuntimeInformation.FrameworkDescription
    </span>
    <span class="badge badge-pill badge-info">@($"{DateTime.Now:dddd dd MMMM yyyy à HH:mm:ss}")</span>
</div>

@code {
    // Timer timer;
    
    protected override void OnInitialized() {
        (new Timer(new TimerCallback((state) => InvokeAsync(StateHasChanged)))).Change(0, 1000);
    }

}